<footer>
	<div class="jumbotron-fluid" id="gris">
			<div class="row">
				<div class="col-sm jumbotron">
				<a href="acerca.php"><h4>Acerca de nosotros</h4></a>
				<hr><!--lo podemos quitar-->
							<ul>
								<li>
									<a href="acerca.php#general">Información General</a>
								</li>
								<li>
									<a href="acerca.php#atencion">Áreas de Atención</a>
								</li>
								<li>
									<a href="acerca.php#civil">Asociación Civil</a>
								</li>
							</ul>
			  </div>
			  <div class="col-sm jumbotron">
							<a href="#"><h4>Participa</h4></a>
				<hr><!--lo podemos quitar-->
							<ul>
								<li>
									<a href="#">Voluntariado</a>
								</li>
								<li>
									<a href="#">Servicio Social</a>
								</li>
								<li>
									<a href="#">Benefactores</a>
								</li>
							</ul>
			  </div>
			  <div class="col-sm jumbotron">
							<a href="#"><h4>Contacto</h4></a>
							<hr><!--lo podemos quitar-->
							<br />
							<a href="mailto:vrm47@hotmail.com"><img src="img/mail.png" alt="Mail" style="width:52px;height:52px;border:0;"> vrm47@hotmail.com</a>
							<br />
							<br />
							<a href="https://www.facebook.com/ninosyninasdemexicoqro/"><img src="img/face.png" alt="Face" style="width:52px;height:52px;border:0;"></a>
			  </div>
			</div>
		</div>
</footer>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="../js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
        <script src="../js/comportamiento.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	</body>
</html>
