<div class="container-fluid">
    <h2>Donadores</h2>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-bell-o"></i>Donadores
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-secondary" type="submit">Buscar</button>
            </form>
        </div>
        <div class="list-group list-group-flush small">
            <a class="list-group-item list-group-item-action" href="javascript: preview();">
                <div class="media">

                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Juan Carlos Garzón Rincón Gallardo
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 235 5641
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> jgarzon@marhnos.com.mx
                            </div>
                        </div>
                        <strong>Registrado desde: </strong> 12/12/1999
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Registrado desde: </strong> 12/12/1999
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Registrado desde: </strong> 12/12/1999
                    </div>
                </div>
            </a>

            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Registrado desde: </strong> 12/12/1999
                    </div>
                </div>
            </a>
        </div>
    </div>
    <button data-toggle="modal" data-target="#new" class="btn btn-primary">Nuevo registro</button>
</div>
