<div class="container-fluid">
    <?php if(printDonadoresNV() > 0): ?>
    <h2>Donadores por Validar</h2>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">

                    <i class="fa fa-bell-o"></i>Donadores no validados
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha de  Nacimiento</th>
                    </tr>
                    </thead>
                    <tbody id="donadoresNV">
                    <?php getDonadoresNV();?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <?php endif; ?>		

    <h2>Donadores</h2>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-2">
                            <i class="fa fa-bell-o"></i>Donadores
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" id="myInput">
                            </form>
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <button data-toggle="modal" data-target="#new" class="btn bg-cyan text-white ml-auto mr-3 botcyan">Nuevo registro</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Fecha de  Nacimiento</th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <?php getDonadores2();?>
                    </tbody>
                </table>
                <div class="list-group list-group-flush small" id="myDIV">
                </div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/ajax.js"></script>

</div>