<div id="donadorInfo" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="prev_nom"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row px-3">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header btn bg-cyan text-white">
                                        <strong>Datos de Contacto</strong>
                                        <div class="card-body-icon-r">
                                            <i class="fas fa-id-card fa-fw"></i>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Correo</strong><span id="prev_email" class="card-text float-right"></span></li>
                                        <li class="list-group-item"><strong>Dirección</strong><span id="prev_dir"  class="card-text float-right"></span></li>
                                        <li class="list-group-item"><strong>Teléfono</strong><span id="prev_tel" class="card-text float-right"></span></li>
                                        <li class="list-group-item"><strong>Fecha de Nacimiento</strong><span id="prev_fechaN" class="card-text float-right"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center my-4 py-4">
                                <span>
                                    <button type="button" class="btn btn bg-cyan text-white ml-auto mr-3 botcyan btn-circle btn-xl shadow"><i class="fas fa-envelope"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-header">UsoCFDI</div>
                            <div class="card-body">Registro de preferencias de donación</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong id="prev_usoCFDI"></strong><span class="card-text float-right" id="prev_cfDesc"></span></li>
                            </ul>
                        </div>
                        <div class="card mt-4">
                            <div class="card-header">Datos de Donación</div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>RFC</strong><span class="card-text float-right" id="prev_RFC"></span></li>
                                <li class="list-group-item"><strong>Método de pago</strong><span class="badge text-white float-right" id="prev_metodo"></span>
                                <li class="list-group-item"><strong>Observaciones</strong><span class="card-text float-right" id="prev_obs"></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-toggle="modal" data-target="#confirmar-borrar" onclick="generateEliminar()">Eliminar</button>
                <button type="button" data-target="#edit" data-toggle="modal" class="btn bg-cyan text-white ml-auto mr-3 botcyan" onclick="generateEdit()">Editar</button>
                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#validar" onclick="generateValidar()">Validar</button>
            </div>
        </div>
    </div>
</div>

<div id="edit" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" action="modificarDonador.php">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nombre">Nombre(s)</label>
                                <input class="form-control" name="ed_nom" id="ed_nom" aria-describedby="nombreHelp" value="">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="apellidoP">Apellido paterno</label>
                                    <input class="form-control" name="ed_apellidoP" id="ed_apellidoP" aria-describedby="apellidoPHelp" value="Garzón">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="apellidoM">Apellido materno</label>
                                <input class="form-control" name="ed_apellidoM" id="ed_apellidoM" aria-describedby="apellidoMHelp" value="Rincón Gallardo">
                            </div>
                            <div class="form-group">
                                <label for="rfc">RFC</label>
                                <input class="form-control" name="ed_RFC" id="ed_rfc" aria-describedby="rfcHelp" value="GARJ500112MP4">
                            </div>
                            <div class="form-group">
                                <label for="emailD">Correo Electrónico</label>
                                <input type="email" class="form-control" id="ed_email" name="ed_email" aria-describedby="emailHelp" value="jgarzon@marhnos.com.mx">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="direccion">Direccion</label>
                                <input class="form-control" id="ed_direccion" name="ed_dir" aria-describedby="direccionHelp" value="Calle Laureles #221, Colonia Jurica, 76060, Querétaro.">
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono o Celular</label>
                                <input class="form-control" id="ed_telefono" name="ed_tel" aria-describedby="telefonoHelp" value="442 235 5641">
                            </div>
                            <label for="fechaN">Fecha de nacimiento</label>
                            <input type="date" name="ed_fechaN" value="12/01/1950">
                            <label for="MetodoPago">Metodo de pago</label>
                            <select class="form-control" name="ed_metodoPago">
                                <?php getMetodos(); ?>
                            </select>
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <input class="form-control" name="ed_obs" id="ed_observaciones" aria-describedby="observacionesHelp" value="Fecha de vencimiento: 06/18">
                            </div>
                            <label for="usoCFDI">Uso CFDI</label>
                            <select id="ed_usoCFDI" name="ed_usoCFDI" class="form-control">
                                <?php getUSOCFDI(); ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button role="submit" type="submit" class="btn bg-cyan text-white ml-auto mr-3 botcyan" >Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" action="addDonador.php">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="nombre">Nombre(s)</label>
                                <input class="form-control" name="nombre" id="nombre" aria-describedby="nombreHelp" placeholder="Juan Carlos">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="apellidoP">Apellido paterno</label>
                                    <input class="form-control" name="apellidoP" id="apellidoP" aria-describedby="apellidoPHelp" placeholder="Garzón">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="apellidoM">Apellido materno</label>
                                <input class="form-control" name="apellidoM" id="apellidoM" aria-describedby="apellidoMHelp" placeholder="Rincón Gallardo">
                            </div>
                            <div class="form-group">
                                <label for="rfc">RFC</label>
                                <input class="form-control" name="rfc" id="rfc" aria-describedby="rfcHelp" placeholder="GARJ500112MP4">
                            </div>
                            <div class="form-group">
                                <label for="emailD">Correo Electrónico</label>
                                <input type="email" class="form-control" name="email" id="emailD" aria-describedby="emailHelp" placeholder="jgarzon@marhnos.com.mx" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="direccion">Direccion</label>
                                <input class="form-control" id="direccion" name="direccion" aria-describedby="direccionHelp" placeholder="Calle Laureles #221, Colonia Jurica, 76060, Querétaro.">
                            </div>
                            <div class="form-group">
                                <label for="telefono">Teléfono o Celular</label>
                                <input class="form-control" name="telefono" id="telefono" aria-describedby="telefonoHelp" placeholder="442 235 5641">
                            </div>
                            <label for="fechaN">Fecha de nacimiento</label>
                            <input type="date"  name="fechaN" id="fechaN" placeholder="12/01/1950">
                            <label for="metodoPago">Metodo de pago</label>
                            <select class="form-control" name="metodoPago" id="MetodoPago">
                                <?php getMetodos(); ?>
                            </select>
                            <div class="form-group">
                                <label for="observaciones">Observaciones</label>
                                <input class="form-control" id="observaciones" name="observaciones" aria-describedby="observacionesHelp" placeholder="Fecha de vencimiento: 06/18">
                            </div>
                            <div class="form-group">
                                <label for="usoCFDI">Uso CFDI</label>
                                <select id="usoCFDI" name="cfdi" class="form-control" aria-describedby="usoCFDIHelp">
                                    <?php getUSOCFDI(); ?>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn bg-cyan text-white ml-auto mr-3 botcyan" role="submit" type="submit">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="confirmar-borrar" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ¿Borrar?
            </div>
            <div class="modal-body">
                ¿Estas seguro que quieres eliminar a este donador de la base de datos? <br>Con el email:
            </div>
            <form action="eliminarDonador.php" method="post">
                <div class="container container-fluid">
                    <input name="c_email" readonly>
                </div>
                <p></p>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger mr-auto">Borrar</button>

                    <button class="btn btn-primary btn-ok" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="validar" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                ¿Validar?
            </div>
            <div class="modal-body">
                ¿Quieres validar a este donador? <br>Con el email:
            </div>
            <form action="validarDonador.php" method="post">
                <div    class="container container-fluid">
                    <input name="v_email" readonly>
                </div>
                <p></p>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success mr-auto">Validar</button>

                    <button class="btn btn-primary btn-ok" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>