<div class="jumbotron">
    <h2 class="py-4 mt-4"><?php obtenerTitulo('QueNecesitamos') ?></h2>
    <form method="POST" action="modificarInfo.php">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    <header>
                        <textarea class="form-control" rows="1" name="titulo"><?php obtenerTitulo('QueNecesitamos') ?></textarea>
                    </header>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-9">
                    <textarea class="form-control" id="exampleTextarea" name="desc" rows="12"><?php obtenerDesc2('QueNecesitamos') ?></textarea>
                </div>
                <div class="col-sm-3">
                    <div class="container-fluid">
                        <img src="../img/charity-1.png" class="img img-fluid" alt="Help">
                    </div>
                </div>
            </div>
            <input type="hidden" name="seccion" value="QueNecesitamos">
            <br>
            <button type="submit" class="btn bg-cyan text-white ml-auto mr-3 botcyan">Guardar Cambios</button>
        </div>
    </form>
</div>