<h2 class="py-4 mt-4">Misión</h2>
<form method="POST" action="modificarInfo.php">
  <div class="form-group">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <blockquote class="blockquote text-center mt-4">
            <textarea type="hidden" class="form-control" rows="1" name="titulo"><?php obtenerTitulo('Mision') ?></textarea>
            <textarea class="form-control" id="exampleTextarea" name="desc" rows="12" value="hola"><?php obtenerDesc('Mision') ?></textarea>
          </blockquote>
        </div>
        <div class="col-sm-3">
          <div class="container-fluid">
            <img src="img/library.png" class="img-fluid img" alt="Books">
          </div>
        </div>
      </div>
      <br>
      <input type="hidden" name="seccion" value="Mision">
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </div>
  </div>
</form>
