<div class="container container-fluid">
  <br>
    <div class="card-deck">
      <div class="card mt-5 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <img src="images/logo_notext.png" width="50" height="30" class="d-inline-block align-top">
              General
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <a href="editAreasAtencion.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Editar</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-5 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <img src="images/logo_notext.png" width="50" height="30" class="d-inline-block align-top">
              Tablas
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <a href="editPromoSocial.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Editar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <br><a href="about_us.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Regresar</a><br>
</div>
