<div class="container container-fluid">
    <div class="card-deck">
      <div class="card mt-5 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <img src="images/logo_notext.png" width="50" height="30" class="d-inline-block align-top">
              General
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <a href="editAreasAtencion.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Editar</a>
            </div>
          </div>
        </div>
          <?php if (isset($_SESSION["error"])): ?>
          <div class="card-footer">
              <span class="text-danger"><?=$_SESSION["error"] ?></span>
          </div>
          <?php endif; ?>
      </div>
      <div class="card mt-5 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <img src="images/logo_notext.png" width="50" height="30" class="d-inline-block align-top">
              Promoción social
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <a href="editAreasAtencion.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Editar</a>
            </div>
          </div>
        </div>
          <?php if (isset($_SESSION["error"])): ?>
          <div class="card-footer">
              <span class="text-danger"><?=$_SESSION["error"] ?></span>
          </div>
          <?php endif; ?>
      </div>
    </div>
    <div class="card-deck">
      <div class="card mt-5 shadow">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <img src="images/logo_notext.png" width="50" height="30" class="d-inline-block align-top">
                Desarrollo Institucional
              </div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <a href="editAreasAtencion.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Editar</a>
              </div>
            </div>
          </div>
          <?php if (isset($_SESSION["error"])): ?>
          <div class="card-footer">
              <span class="text-danger"><?=$_SESSION["error"] ?></span>
          </div>
          <?php endif; ?>
      </div>
      <div class="card mt-5 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-8">
              <img src="images/logo_notext.png" width="50" height="30" class="d-inline-block align-top">
              Educación
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <a href="editAreasAtencion.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Editar</a>
            </div>
          </div>
        </div>
          <?php if (isset($_SESSION["error"])): ?>
          <div class="card-footer">
              <span class="text-danger"><?=$_SESSION["error"] ?></span>
          </div>
          <?php endif; ?>
      </div>
    </div>
  <br><br>
</div>
