<div class="jumbotron bg-dark text-white shadow">
    <div class="row">
        <div class="col">
            <header>
                <h2 class="font text-white"><?php obtenerTitulo('QueNecesitamos') ?></h2>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <p class="lead pt-5 pb-1 text-white"><?php obtenerDesc('QueNecesitamos') ?></p>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid">
                <img src="img/campana.png" class="img img-fluid" alt="Bell">
            </div>
        </div>
    </div>
</div>
