<h2 class="py-4">Patronato</h2>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card-deck">
            <div class="card shadow" id="TablaPatronato">
                <?php obtenerTablaBlue2('Patronato') ?>
            </div>
        </div>
        <br>
        <div id="añadir">
          <button type="button" class="btn btn-primary" onclick="addVocal()"><i class="fas fa-plus-circle"></i> Añadir Vocal</button>
        </div>
    </div>
    <div class="col-3"></div>
</div>
<script src="js/funciones.js"></script>
