<div class="jumbotron bg-dark text-white">
    <div class="row">
        <div class="col-md-9">
            <header>
                <textarea class="form-control" rows="1" name="titulo"><?php obtenerTitulo('Voluntario') ?></textarea>
            </header>
            <textarea class="form-control" id="exampleTextarea" name="desc" rows="12"><?php obtenerDesc('Voluntario') ?></textarea>
            <input type="hidden" name="seccion" value="Hacemos">
            <br>
            <button type="submit" class="btn bg-cyan text-white ml-auto mr-3 botcyan">Guardar Cambios</button>
        </div>
        <div class="col-sm-3">
            <div class="container-fluid">
                <img src="../Pagina/img/teamwork.png" class="img img-fluid" alt="Teamwork">
            </div>
        </div>
    </div>
    <a href="editAyudar.php" class="btn bg-cyan text-white ml-auto mr-3 botcyan"  role="button" aria-pressed="true">Regresar</a>
</div>
