<div class="container-fluid">
    <h2>Programación de Eventos</h2>
    <div class="row">
        <div class="col">
            <div id="archivos" class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-2">
                            <i class="far fa-calendar-alt fa-fw"></i> Calendario
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <a href="https://calendar.google.com" target="_blank" class="btn bg-cyan text-white ml-auto mr-3 botcyan" title="Gestionar calendario">Google Calendar <i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="calendar">
                	<iframe style="width: 100%;" src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23dadada&amp;src=o3keu4lhr6sc5hbqinip2k9arg%40group.calendar.google.com&amp;color=%23e2418d&amp;ctz=America%2FMexico_City" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            	</div>
            </div>
        </div>
    </div>
</div>
