<!-- /#page-content-wrapper -->
<footer id="footer" class="bg-light mt-4">
    <div class="container-fluid py-4">
        <div class="row">
            <!--<div class="col-md-6">-->
                <!--<span class="text-muted">Hecho con el editor <strong>Brackets</strong> - <a href="http://brackets.io/">http://brackets.io/</a></span>-->
            <!--</div>-->
            <!--<div class="col-md-3"></div>-->
            <div class="col md-6 text-right align-self-end">
                Por <strong>Within Systems</strong>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="js/ajax.js"></script>
