<div class="container-fluid">
    <h2>Galería Multimedia</h2>
    <div class="row">
        <div class="col">
            <div id="archivos" class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-2">
                            <i class="fas fa-fw fa-images"></i> Archivos
                        </div>
                        <div class="col">
                            <div class="float-right">
                                <button class="btn bg-cyan text-white ml-auto mr-3 botcyan" type="button" ><a href="https://www.facebook.com/ninosyninasdemexicoqro/" target="_blank" class="text-white">Galeria Facebook <i class="fas fa-external-link-alt"></i></a></button>
                                <button onclick="showAdd()" type="button" class="btn bg-cyan text-white ml-auto mr-3 botcyan" data-toggle="tooltip" data-placement="right" title="Agregar nuevo archivo">Agregar <i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="gestor-galeria">
                    <?php getGaleriaGestor(); ?>
                </div>
                <!--<div class="card-footer small text-muted">Actualizado hace 5 minutos</div>-->
            </div>
        </div>
        <!--<div class="col-sm-3">-->
            <!--&lt;!&ndash; Example Notifications Card&ndash;&gt;-->
            <!--<div class="card mb-3">-->
                <!--<div class="card-header">-->
                    <!--<i class="fas fa-history"></i> Reciente</div>-->
                <!--<div class="list-group list-group-flush small">-->
                    <!--<a class="list-group-item list-group-item-action" href="#">-->
                        <!--<div class="media">-->
                            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<strong>Juan Pablo</strong> agrego una nueva imagen.-->
                                <!--<div class="text-muted smaller">Hoy a las 5:43 PM - Hace 5 minutos</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a class="list-group-item list-group-item-action" href="#">-->
                        <!--<div class="media">-->
                            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<strong>Samantha King</strong> agrego una nueva imagen.-->
                                <!--<div class="text-muted smaller">Hoy a las 4:37 PM - Hace 1 minutos</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a class="list-group-item list-group-item-action" href="#">-->
                        <!--<div class="media">-->
                            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<strong>Jeffery Wellings</strong> agrego una nueva imagen.-->
                                <!--<div class="text-muted smaller">Hoy a las 4:31 PM - Hace 1 minutos</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                    <!--<a class="list-group-item list-group-item-action" href="#">-->
                        <!--<div class="media">-->
                            <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">-->
                            <!--<div class="media-body">-->
                                <!--<i class="fa fa-code-fork"></i>-->
                                <!--<strong>Monica Dennis</strong> agrego una nueva imagen.-->
                                <!--<div class="text-muted smaller">Hoy a las 3:54 PM - Hace 2 minutos</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="card-footer small text-muted">Actualizado hace 5 minutos</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>
