<div class="container mx-auto">
    <div class="card card-login mx-auto mt-5 shadow">
        <div class="card-header">Iniciar Sesión</div>
        <div class="card-body">
            <img src="images/logo_notext.png" class="img img-fluid">
            <div class="row justify-content-center align-items-center py-4 mt-4">
                <div class="mx-auto" id="my-signin2"></div>
            </div>
        </div>
        <?php if (isset($_SESSION["error"])): ?>
        <div class="card-footer">
            <span class="text-danger"><?=$_SESSION["error"] ?></span>
        </div>
        <?php endif; ?>
    </div>
</div>
