<div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="registrar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva noticia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="registrarNoticia.php" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input name="titulo" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Bazar, Colecta, Evento..." required>
                    </div>
                    <div class="form-group">
                        <label for="cuerpo">Cuerpo</label>
                        <textarea class="form-control" id="cuerpo" name="cuerpo" rows="10" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input name="imagen" type="file" class="custom-file-input" id="inputGroupFile01" required>
                            <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn bg-cyan text-white ml-auto mr-3 botcyan" name="collection" value="collection"><i class='fas fa-plus'></i> Registrar noticia</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="eliminarNoticia" tabindex="-1" role="dialog" aria-labelledby="eliminar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar noticia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="eliminarNoticia.php" method="POST">
                <div class="modal-body">
                    <input id="idNoticia" name="idNoticia" type="hidden" value="">
                    <input id="imagenNoticia" name="imagenNoticia" type="hidden" value="">
                    <p>¿Seguro que deseas eliminar la noticia "<span id="tituloNoticia"></span>"?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" name="eliminar" value="eliminar">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--modificar noticia-->
<div class="modal fade" id="modificarNoticia" tabindex="-1" role="dialog" aria-labelledby="modificar" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar noticia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="modificarNoticia.php" method="POST" enctype="multipart/form-data">
                <input id="idNoticia_edit" name="idNoticia" type="hidden" value="">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="titulo">Título</label>
                        <input id="tituloNoticia_edit" name="titulo" type="text" class="form-control" value="" required>
                    </div>
                    <div class="form-group">
                        <label for="cuerpo">Cuerpo</label>
                        <textarea id="cuerpoNoticia_edit" class="form-control" name="cuerpo" rows="10" value="" required></textarea>
                    </div>
                    <div class="card" id="current-image">
                        <div class="card-btn-group">
                            <button type="button" class="card-btn btn btn-danger ml-auto" onclick="deleteImageFromForm();"><i class="fas fa-trash-alt"></i></button>
                        </div>
                        <img class="card-img-top" id="imagenNoticia_edit" src="" alt="Image"></img>
                    </div>
                    <div class="input-group mb-3 sr-only" id="image-input">
                        <div class="custom-file">
                            <input name="imagen" type="file" class="custom-file-input" id="update-image">
                            <label class="custom-file-label" for="inputGroupFile01">Escoger Archivo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn bg-cyan text-white ml-auto mr-3 botcyan" name="collection" value="collection"><i class='fas fa-plus'></i> Modificar noticia</button>
                </div>
            </form>
        </div>
    </div>
</div>