<!-- Navbar -->
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h2>Noticias</h2>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#registrar"><i class="fas fa-plus"></i> Nueva noticia</button>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="card-columns">
                <?php getNoticiasGestor(); ?>
            </div>
        </div>
    </div>
</div>
