<div class="py-2"></div>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="bg-dark">
        <ul class="sidebar-nav">
            <li>
                <a id="id-dashboard" href="dashboard.php"><i class="fas fa-tachometer-alt mr-4 fa-fw"></i>Dashboard</a>
            </li>
            <li>
                <a id="id-donadores" href="donadores.php"><i class="fas fa-id-card mr-4 fa-fw"></i>Donadores</a>
            </li>
            <li>
                <a id="id-noticias" href="news.php"><i class="far fa-newspaper mr-4 fa-fw"></i>Noticias</a>
            </li>
            <li>
                <a id="id-eventos" href="events.php"><i class="far fa-calendar-alt mr-4 fa-fw"></i>Eventos</a>
            </li>
            <li>
                <a id="id-galeria" href="gallery.php"><i class="fas fa-images mr-4 fa-fw"></i>Galería</a>
            </li>
            <li>
                <a id="id-usuarios" href="usuario.php"><i class="fas fa-user-circle mr-4 fa-fw"></i>Usuarios</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
