<div class="py-2"></div>

<div id="wrapper" class="toggled">

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="bg-dark">
        <ul class="sidebar-nav">
            <li>
                <a id="id-dashboard" href="dashboard.php" <?php if($view == "dashboard"): echo 'class="active"'; endif;?>><i class="fas fa-tachometer-alt mr-4 fa-fw"></i>Dashboard</a>
            </li>

            <li>
                <a id="id-donadores" href="donadores.php" <?php if($view == "donadores"): echo 'class="active"'; endif;?>><i class="fas fa-id-card mr-4 fa-fw"></i>Donadores</a>
            </li>

            <li>
                <a id="id-noticias" href="noticias.php" <?php if($view == "noticias"): echo 'class="active"'; endif;?>><i class="far fa-newspaper mr-4 fa-fw"></i>Noticias</a>
            </li>

            <li>
                <a id="id-eventos" href="eventos.php" <?php if($view == "eventos"): echo 'class="active"'; endif;?>><i class="far fa-calendar-alt mr-4 fa-fw"></i>Eventos</a>
            </li>

            <li>
                <a id="id-galeria" href="galeria.php" <?php if($view == "galeria"): echo 'class="active"'; endif;?>><i class="fas fa-images mr-4 fa-fw"></i>Galería</a>
            </li>

            <li>
                <a id="id-usuarios" href="usuario.php" <?php if($view == "usuario"): echo 'class="active"'; endif;?>><i class="fas fa-user-circle mr-4 fa-fw"></i>Usuarios</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
