<div class="container-fluid">
    <h2>Usuarios</h2>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-bell-o"></i>Usuarios Actuales
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" id="myInput">
            </form>
        </div>
        <div class="list-group list-group-flush small">
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Rol: </strong> Administrador
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Rol: </strong> Editor
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Rol: </strong> Editor
                    </div>
                </div>
            </a>

            <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                    <div class="media-body">
                        <div class="row">
                            <div class="col-sm">
                                <strong>Nombre:</strong> Jaun Ramon
                            </div>
                            <div class="col-sm">
                                <strong>Telefono:</strong> 442 250 2651
                            </div>
                            <div class="col-sm">
                                <strong>Email</strong> email@email.com
                            </div>
                        </div>
                        <strong>Rol: </strong> Editor
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--BOTON AGREGAR USUARIO
        Podría ser dark o secondary-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarUsuario" data-whatever="@mdo">Nuevo usuario</button>

</div>
