<div class="container-fluid">
    <h2>Usuarios</h2>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-bell-o"></i>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" id="myInput">
            </form>
        </div>
        <div class="list-group list-group-flush small">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Email</th>
                </tr>
                </thead>
                <tbody id="myTable">
                <?php getUsuarios();?>
                </tbody>
            </table>
        </div>
    </div>
    <!--BOTON AGREGAR USUARIO
        Podría ser dark o secondary-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarUsuario" data-whatever="@mdo">Nuevo usuario</button>

</div>
