<div class="modal fade" id="agregarUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nuevo usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="rol-select">Rol:</label>
                    <select class="form-control" id="rol-select">
                        <?php getRoles(); ?>
                    </select>
                </div>
                <div class="ml-auto" id="my-signup2"></div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="usuarioInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="delete_user.php" method="post">
                <div class="modal-body">
                    <p>¿Estás seguro que deseas eliminar a este usuario?</p>
                    <input type="hidden" name="user_id" id="user_id" value="" />
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" name="Eliminar" class="btn btn-danger" value="Eliminar"/>
                </div>
            </form>
        </div>
    </div>
</div>
