 <div class="container-fluid">
        <h2>Donadores</h2>
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-bell-o"></i>Donadores
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-secondary" type="submit">Buscar</button>
                </form>
            </div>
            <div class="list-group list-group-flush small">
                <?php
                    getDonadores();
                 ?>
                <button data-toggle="modal" data-target="#new" class="btn bg-cyan text-white ml-auto mr-3 botcyan">Nuevo registro</button>
                <br><br><br><br>
            </div>
        </div>
 </div>

 <div id="new" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Nuevo Registro</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>

             <form method="POST" action="addDonador.php">
                 <div class="modal-body">
                     <div class="row">
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <label for="nombre">Nombre(s)</label>
                                 <input class="form-control" name="nombre" id="nombre" aria-describedby="nombreHelp" placeholder="Juan Carlos">
                             </div>
                             <div class="form-group">
                                 <div class="form-group">
                                     <label for="apellidoP">Apellido paterno</label>
                                     <input class="form-control" name="apellidoP" id="apellidoP" aria-describedby="apellidoPHelp" placeholder="Garzón">
                                 </div>
                             </div>
                             <div class="form-group">
                                 <label for="apellidoM">Apellido materno</label>
                                 <input class="form-control" name="apellidoM" id="apellidoM" aria-describedby="apellidoMHelp" placeholder="Rincón Gallardo">
                             </div>
                             <div class="form-group">
                                 <label for="rfc">RFC</label>
                                 <input class="form-control" name="rfc" id="rfc" aria-describedby="rfcHelp" placeholder="GARJ500112MP4">
                             </div>
                             <div class="form-group">
                                 <label for="emailD">Correo Electrónico</label>
                                 <input type="email" class="form-control" name="email" id="emailD" aria-describedby="emailHelp" placeholder="jgarzon@marhnos.com.mx" required>
                             </div>
                             <div class="form-group">
                                 <label for="ocupacion">Ocupacion</label>
                                 <input type="text" class="form-control" id="ocupacion" name="ocupacion" aria-describedby="ocupacionHelp" placeholder="Bombero">
                             </div>
                         </div>
                         <div class="col-sm-6">
                             <div class="form-group">
                                 <label for="direccion">Direccion</label>
                                 <input class="form-control" id="direccion" name="direccion" aria-describedby="direccionHelp" placeholder="Calle Laureles #221, Colonia Jurica, 76060, Querétaro.">
                             </div>
                             <div class="form-group">
                                 <label for="telefono">Teléfono o Celular</label>
                                 <input class="form-control" name="telefono" id="telefono" aria-describedby="telefonoHelp" placeholder="442 235 5641">
                             </div>
                             <label for="fechaN">Fecha de nacimiento</label>
                             <input type="date"  name="fechaN" id="fechaN" placeholder="12/01/1950">
                             <label for="metodoPago">Metodo de pago</label>
                             <select class="form-control" name="metodoPago" id="MetodoPago">
                                 <option value="M0">Tarjeta de crédito</option>
                                 <option value="M02">Transferencia</option>
                                 <option value="M03">Cheque</option>
                                 <option value="M04">Otro</option>
                             </select>
                             <div class="form-group">
                                 <label for="observaciones">Observaciones</label>
                                 <input class="form-control" id="observaciones" name="observaciones" aria-describedby="observacionesHelp" placeholder="Fecha de vencimiento: 06/18">
                             </div>
                             <div class="form-group">
                                 <label for="usoCFDI">Uso CFDI</label>
                                 <input class="form-control" name="cfdi" id="usoCFDI" aria-describedby="usoCFDIHelp" placeholder="G03">
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn bg-cyan text-white ml-auto mr-3 botcyan" role="submit" type="submit">Guardar</button>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                 </div>

             </form>
         </div>
     </div>
 </div>
 <div id="donadorInfo" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog modal-lg" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title">Juan Carlos Garzón Rincón</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                 <div class="row px-3">
                     <div class="col">
                         <div class="row">
                             <div class="col">
                                 <div class="card">
                                     <div class="card-header bg-primary text-white">
                                         <strong>Datos de Contacto</strong>
                                         <div class="card-body-icon-r">
                                             <i class="fas fa-id-card fa-fw"></i>
                                         </div>
                                     </div>
                                     <ul class="list-group list-group-flush">
                                         <li class="list-group-item"><strong>Correo</strong><span class="card-text float-right">jgarzon@marhnos.com.mx</span></li>
                                         <li class="list-group-item"><strong>Dirección</strong><span class="card-text float-right">Calle Laureles #221, Colonia Jurica, 76060, Querétaro.</span></li>
                                         <li class="list-group-item"><strong>Teléfono</strong><span class="card-text float-right">+52 (442) 235 5641</span></li>
                                         <li class="list-group-item"><strong>Fecha de Nacimiento</strong><span class="card-text float-right">12/01/1950</span></li>
                                     </ul>
                                     <div class="card-footer small text-muted">Actualizado hace 5 minutos</div>
                                 </div>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col text-center my-4 py-4">
                                    <span>
                                        <button type="button" class="btn bg-cyan text-white ml-auto mr-3 botcyan"><i class="fas fa-envelope"></i></button>
                                    </span>
                             </div>
                         </div>
                     </div>
                     <div class="col">
                         <div class="card">
                             <div class="card-header">UsoCFDI</div>
                             <div class="card-body">Registro de preferencias de donación</div>
                             <ul class="list-group list-group-flush">
                                 <li class="list-group-item"><strong>G03</strong><span class="card-text float-right">Alimentos</span></li>
                             </ul>
                             <div class="card-footer small text-muted">Actualizado hace 5 minutos</div>
                         </div>
                         <div class="card mt-4">
                             <div class="card-header">Datos de Donación</div>
                             <ul class="list-group list-group-flush">
                                 <li class="list-group-item"><strong>RFC</strong><span class="card-text float-right">GARJ500112MP4</span></li>
                                 <li class="list-group-item"><strong>Método de pago</strong><span class="badge badge-danger float-right">Tarjeta</span><span class="badge badge-primary mx-1 float-right">Transferencia</span></li>
                                 <li class="list-group-item"><strong>Observaciones</strong><span class="card-text float-right">Blah blah blah...</span></li>
                             </ul>
                             <div class="card-footer small text-muted">Actualizado hace 5 minutos</div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button><!-- Hay que moverlo a la derecha -->
                 <button type="button" class="btn bg-cyan text-white ml-auto mr-3 botcyan" onclick="edit()">Editar</button>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
             </div>
         </div>
     </div>
 </div>