.jumbotron2 {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.jumbotron3 {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
}

.bg-grayj3 {
  background-color: #e9ecef;
}

#drop {
    height: 200px;
    width: 200px;
}

#fade {
	z-index: 1000;
	margin-top: 5em;
    background: linear-gradient(rgba(218,218,218,1), rgba(218,218,218,1), rgba(218,218,218,0)); /* Standard syntax (must be last) */
}