<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>A01207499</title>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="index.php">
        <img src="img/yo1.png" width="30" height="30" class="d-inline-block align-top" alt="">César Buenfil</a>
        </nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link" href="index.php">Home<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              DAW
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="lab1daw.php">Laboratorio 1: Introducción</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab3daw.php">Laboratorio 3: CSS</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab4daw.php">Laboratorio 4: JavaScript</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab5daw.php">Laboratorio 5: Programación orientada a eventos</a>   <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab6daw.php">Laboratorio 6: Documentos dinámicos con JavaScript</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab7daw.php">Lab 7: Front-end Frameworks</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab9daw.php">Lab 9: Introducción a php</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.php" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              BD
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="lab1bd.php">Investigación 1: Ciclo de vida y de desarrollo de los sistemas de información</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="lab2bd.php">Cuestionario 1: BD vs DBMS</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="tienda.php">Store<span class="sr-only">(current)</span></a>
          </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="register.php">Register<span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Navbar -->
  </head>
