<!-- /#page-content-wrapper -->
            <footer class="bg-light mt-4">
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-muted">Hecho con el editor <strong>Brackets</strong> - <a href="http://brackets.io/">http://brackets.io/</a></span>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-3 text-right align-self-end">
                            Por <strong>Juan Pablo Pino</strong>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../../vendor/simple-sidebar/js/simple-sidebar-toggle.js"></script>
	<script src="../../vendor/chart.js/js/Chart.bundle.js"></script>
	<script src="../../js/sb-admin-charts.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
    <script src="../../js/comportamiento.js"></script>

</body>

</html>