	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-abacus:before { content: "\f100"; }
.flaticon-alarm-clock:before { content: "\f101"; }
.flaticon-american-football:before { content: "\f102"; }
.flaticon-apple:before { content: "\f103"; }
.flaticon-backpack:before { content: "\f104"; }
.flaticon-basketball:before { content: "\f105"; }
.flaticon-bell:before { content: "\f106"; }
.flaticon-blackboard:before { content: "\f107"; }
.flaticon-blackboard-1:before { content: "\f108"; }
.flaticon-books:before { content: "\f109"; }
.flaticon-books-1:before { content: "\f10a"; }
.flaticon-bookshelf:before { content: "\f10b"; }
.flaticon-briefcase:before { content: "\f10c"; }
.flaticon-column:before { content: "\f10d"; }
.flaticon-compass:before { content: "\f10e"; }
.flaticon-computer-mouse:before { content: "\f10f"; }
.flaticon-desk:before { content: "\f110"; }
.flaticon-diploma:before { content: "\f111"; }
.flaticon-diploma-1:before { content: "\f112"; }
.flaticon-earth-globe:before { content: "\f113"; }
.flaticon-eraser:before { content: "\f114"; }
.flaticon-flask:before { content: "\f115"; }
.flaticon-fountain-pen:before { content: "\f116"; }
.flaticon-glasses:before { content: "\f117"; }
.flaticon-light-bulb:before { content: "\f118"; }
.flaticon-medal:before { content: "\f119"; }
.flaticon-microscope:before { content: "\f11a"; }
.flaticon-molecule:before { content: "\f11b"; }
.flaticon-mortarboard:before { content: "\f11c"; }
.flaticon-newtons-cradle:before { content: "\f11d"; }
.flaticon-notebook:before { content: "\f11e"; }
.flaticon-open-book:before { content: "\f11f"; }
.flaticon-owl:before { content: "\f120"; }
.flaticon-paint-brush:before { content: "\f121"; }
.flaticon-palette:before { content: "\f122"; }
.flaticon-paperclip:before { content: "\f123"; }
.flaticon-pen:before { content: "\f124"; }
.flaticon-pencil:before { content: "\f125"; }
.flaticon-physics:before { content: "\f126"; }
.flaticon-professor:before { content: "\f127"; }
.flaticon-school:before { content: "\f128"; }
.flaticon-school-bus:before { content: "\f129"; }
.flaticon-scissors:before { content: "\f12a"; }
.flaticon-set-square:before { content: "\f12b"; }
.flaticon-student:before { content: "\f12c"; }
.flaticon-test:before { content: "\f12d"; }
.flaticon-test-tubes:before { content: "\f12e"; }
.flaticon-university:before { content: "\f12f"; }
.flaticon-violin:before { content: "\f130"; }
.flaticon-whistle:before { content: "\f131"; }