p {
    font-family: 'Roboto', serif;
    color: gray;
    font-size: 16px;
}
p:hover {
    color: skyblue;
}

header {
    font-family: 'Roboto';
    color: dimgray;
}

h1 {
    font-family: 'Roboto';
    color: dimgray;
}

h5 {
    visibility: hidden;
}

.showme{
display: none;
}
.showhim:hover .showme{
display : block;
}

#watermark {
 position:fixed;
 bottom:5px;
 right:5px;
 opacity:0.5;
 z-index:99;
 color:white;
}

#fresa {
    font-family: 'Indie Flower', cursive;
    color: skyblue;
    text-decoration: inherit;
    font-size: 24px;
}

.titulo {
    font-family: 'Limelight', cursive;
    color: dimgray;
    text-align: center;
    font-size: 60px;
}

h2.titulo {
    font-family: 'Limelight', cursive;
    color: dimgray !important;
    text-align: center;
    font-size: 60px;
}

h2 {
    font-family: 'Limelight', cursive;
    color: deepskyblue;
    text-align: center;
    font-size: 60px;
}

div.absolute {
    position: relative;
    left: 600px;
    width: 200px;
    height: 100px;
    border: 3px solid #5c5c5c;
}

.carousel .item {
  height: 100px !important;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100px !important;
}
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.img-responsive{display:block;height:150;max-width:100%}
